{% extends "template1.html" %}
{% load url from future %}

{% block js_ready %}
	<script>
		$(document).ready(function () {
      		odp.getTags();
			odp.setupSearchInput();
    $('table').append($('<tr>',{html:'<td></td><td><input type="submit" value="Register" class="button" /></td>'})) 
		});
	</script>
{% endblock %}

{% block center_container %}


	<div id="title">Register</div>
	<div id="description">Add ratings. Submit data. Suggest ideas.</div>


<div class="resource" id="form_container">
{% if form.errors %}
<p class="resource error_message">The form has errors. Please try again.</p>
{% endif %}
  <form method="post" action="/accounts/register/">
  {% csrf_token %}
  <table>
  {{form}}
  </table>
  </form>
</div>

{% endblock %}
