{% extends "template1.html" %}
{% load url from future %}

{% block js_ready %}
	<script>
		$(document).ready(function () {
      		odp.getTags();
			odp.setupSearchInput();
		});
	</script>
{% endblock %}

{% block center_container %}

<div id="title">Thanks for registering!</div>
<div id="description">An activation link has been sent to the email address you provided.</div>
<div id="description">Once you've clicked on the link in your activation email you will be able to <a href="{{SITE_ROOT}}/accounts/login/">login</a>.</div>

{% endblock %}
