{% extends "base.html" %}

{% block js_ready %}
	<script>
		$(document).ready(function () {
			odp.getTags();
			odp.setupSearchInput();
		});
	</script>
{% endblock %}

{% block body_top %}

    <div id="contest_info" class="clear">
        <div id="box_wrapper">
            <div id="date_box" class="info_box">
                {% ifnotequal contest.has_started contest.has_ended %}
                    <div id="days_left">
                        <div id="days">{{contest.get_days_left}}</div>
                        <div id="left">DAY{% if contest.get_days_left != 1 %}S{% endif %} LEFT TO VOTE!</div>
                    </div>
                    <div id="days_events">
                        <div id="days_header">Upcoming Event Information</div>
                        <div class="days_label">Tuesday, Oct 3 2011</div><div class="days_data">Voting begins</div>
                        <div class="days_label">Thurs, Oct 27 2011, 11:59pm</div><div class="days_data">Voting ends</div>
                        <div class="days_label">Fri, Oct 28 2011</div><div class="days_data">Winners announced</div>
                    </div>
                {% else %}
                    {% if contest.has_started %}                    
                        <div id="days_left">
                            <div id="days">VOTING IS OVER!</div>
                        </div>
                        <div id="days_events">Thank you for participating in the OpenDataRace! The contest is now finished, but you can 
                        continue to <a href="{{SITE_ROOT}}/opendata/nominate/?sort=rating_score&dir=desc">nominate</a> data sets for OpenDataPhilly.</div>
                    {% else %}
                        <div id="days_left">
                            <div id="days">{{contest.get_days_till_start}}</div>
                            <div id="left">DAY{% if contest.get_days_till_start != 1 %}S{% endif %} TILL VOTING STARTS!</div>
                        </div>
                        <div id="days_events">
                            <div id="days_header">Upcoming Event Information</div>
                            <div class="days_label">Tuesday, Oct 3 2011</div><div class="days_data">Voting begins</div>
                            <div class="days_label">Thurs, Oct 27 2011, 11:59pm</div><div class="days_data">Voting ends</div>
                            <div class="days_label">Fri, Oct 28 2011</div><div class="days_data">Winners announced</div>
                        </div>
                    {% endif %}    
                {% endifnotequal %}
                </div>
            <div class="info_box" id="pic_box"></div>
        </div>
    </div>

{% endblock %}

{% block content %}

	<div id="center_container">
    {% include "loginlogout.html" %}
        <div id="contest_header">
            <a href="{{SITE_ROOT}}/" id="logo"><img src="/static/images/logo.png"/></a>
            <div id="contest_menu">
                <ul>
                    <li id="menu_vote" class="contest_menu"><a href="{{SITE_ROOT}}/contest/?sort=vote_count&dir=desc">CAST YOUR VOTE</a></li>
                    <li id="menu_rules" class="contest_menu"><a href="{{SITE_ROOT}}/contest/rules/">RULES</a></li>
                    <li id="menu_nominate" class="contest_menu"><a href="{{SITE_ROOT}}/contest/add/">NOMINATE</a></li>
                </ul>
            </div>
        </div>

		<div id="center_content">
			{% block center_container %}
			{% endblock %}
		</div>

	</div>

  {% include "footer.html" %}


{% endblock %}
