{% extends "contest/contest_template.html" %}

{% load sorting_tags %}
{% load humanize %}

{% block body_id %}id="contest"{% endblock %}

{% block js_ready %}
	<script>
		$(document).ready(function () {
			odp.setupSortLinks();
            
            $(".contest_menu").removeClass('selected');
		});
	</script>
{% endblock %}

{% block header_description %}

    <div>OpenDataRace is a contest to uncover Philadelphia-related data sets that are 
        not yet available to the public. Non-profit organizations across the city have nominated 
        data that would help them accomplish their missions and improve our region. <span style="color:#E05B26; font-weight: bold;">Vote now 
        for the data set that you think should be open and available.</span> The top three data sets will 
        earn cash prizes for their nominators and the assistance of the <a href="{{SITE_ROOT}}/">OpenDataPhilly</a> team in opening the 
        data for public use. </div>

{% endblock %}

{% block center_container %}




{% autosort entries %}
<div id="contest_entries_wrapper">
    <table id="entry_list_table">
        <tr>
            <th>{% anchor is_visible "Included" %}</th>
            <th>{% anchor vote_count "Votes" %}</th>
            <th>{% anchor data_owner "Agency" %}</th>
            <th>{% anchor nominator "Nominated By" %}</th>
            <th>{% anchor title "Data Set" %}</th>
            <th>{% anchor status "Remarks" %}</th>
        </tr>
        {% for entry in entries %}
            <tr>
                <td>{{ entry.is_visible|yesno:"<div id='not_included' />,<div id='included' />"|safe }}</td>
                <td>{{ entry.vote_count }}</td>
                <td>{{ entry.data_owner }}</td>
                <td>{{ entry.nominator }}</td>
                <td><a href="{{SITE_ROOT}}/contest/entry/{{entry.id}}/">{{ entry.title }}</a></td>
                <td>{{ entry.status }}{% if not entry.is_visible %}, {{ entry.rejected_reason }}{% endif %} {{entry.links|urlize}}</td>
            </tr>
        {% endfor %}
    </table>
</div>



{% endblock %}
