{% extends "contest/contest_template.html" %}

{% block body_id %}id="contest"{% endblock %}

{% block center_container %}

<div id="contest_logo">
<a href="{{SITE_ROOT}}/" id="logo"><img src="/static/images/logo.png"/></a>
</div>


<div id="contest_description"><h2>Open<span class="orange">Data</span>Race</h2>Short description here. Check out the <a href="{{SITE_ROOT}}/contest/{{contest.id}}/">entries</a>.</div>

<div id="contest_form" class="resource">

<form action="{{SITE_ROOT}}/contest/{{contest.id}}/add/" method="POST">

	{% csrf_token %}
	{% if form.errors %}
	<div class="error_message resource">The form has errors. Please try again.</div>
	{% endif %}

	{{form.as_p}}
	<input class="button" type="submit" value="submit"/>
	<input class="button" type="reset" value="reset" onclick="window.location='{{current_path}}'"/>
		
</form>

</div>


{% endblock %}
