{% extends "template1.html" %}

{% load thumbnail %}
{% load comments %}

{% block js_ready %}
	<script>
		$(document).ready(function () {
      		odp.getTags();
			odp.setupSearchInput();

			odp.setupCommentForm();
			odp.makeTabs('#content_resource, #content_data, #content_ratings');
			odp.makeDialog('.tab_image');
			odp.makeTabs('.tab_container');
		});
	</script>
{% endblock %}

{% block center_container %}
	<div id="title">{{resource}}</div>
	<div id="description">{{resource.description}}</div>

  <div class="tab_container" id="content_resource">
    <ul class="tab_header">
      <li class="tab_button"><a href="#tab_basic_info">BASIC INFO</a></li>
      <li class="tab_button"><a href="#tab_extra_info">MORE INFO</a></li>
    </ul>
    <div class="tab_body" id="tab_basic_info">
      <div id="tab_data">
         {% if resource.organization %}
        <div class="info_label">Organization</div><div class="info_data"><a>{{resource.organization}}</a></div>
        {% endif %}
        {% if resource.division %}
        <div class="info_label">Division</div><div class="info_data"><a>{{resource.division}}</a></div>
        {% endif %}
        {% if resource.contact_email %}
        <div class="info_label">Contact Email</div><div class="info_data"><a>{{resource.contact_email}}</a></div>
        {% endif %}
        {% if resource.contact_phone %}
        <div class="info_label">Contact Phone</div><div class="info_data">{{resource.contact_phone}}</div>
        {% endif %}
         {% if resource.contact_website %}
        <div class="info_label">Contact Website</div><div class="info_data">{{resource.contact_website}}</a></div>
        {% endif %}
        <div class="info_label">Categories</div>
        <div class="info_data">
          {% for i in resource.tags.all %}
            <a>{{i}}</a>{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </div>
        <div class="info_label">Usage</div><div class="info_data">{{resource.usage}}</div>
      </div>
      <div class="tab_container" id="tab_image_container">
        {% if resource.get_images %}
        <div class="tab_image" id="tab_image_1">
          <img src="{% thumbnail resource.get_first_image 218x273 autocrop %}" alt="{{resource.get_first_image.title}}">
          <div class="tab_image_detail">{{resource.get_first_image.title}} <img src="/static/images/icon_magnify.png"/></div>
          <div class="dialog" id="dialog1">
            <img src="/media/{{resource.get_first_image}}">
          </div>
        </div>
        <ul class="tab_image_pager">
          {% for i in resource.get_images %}
          <li><a href="#tab_image_{{i.id}}" onclick="odp.setDialogImage('{{i}}');return false;"></a></li>
          {% endfor %}
        </ul>
        {% else %}
        <div class="tab_image" id="tab_image_1">
          <img src="/static/images/detail_no_image.gif" alt="No Resource Images">
          <div class="tab_image_detail">No Resource Images</div>
        </div>
        {% endif %}

      </div>
      <div class="clear_left"></div>
    </div>

    <div class="tab_body" id="tab_extra_info">**Extended Info Here**</div>
  </div>

  <div class="tab_container" id="content_data">
    <ul class="tab_header">
      <li class="tab_button"><a href="#data-tab">DATA</a></li>
    </ul>
    <div class="tab_body" id="#data-tab">
    {% if resource.get_grouped_urls.Data %}
      <div class="data_block">
        <div class="url_header">
          <div id="resource_icon_Data" class="url_image"></div><div class="url_label">Raw Data</div>
        </div>
        <ul>
        {% for url in resource.get_grouped_urls.Data %}
          <li class="url_link"><a href="{{url.url}}" target="_blank">{{url.url_label}}</a></li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}

    {% if resource.get_grouped_urls.Documentation %}
      <div class="data_block" id="data_documention">
        <div class="url_header">
          <div id="resource_icon_Documentation" class="url_image"></div><div class="url_label">Documentation</div>
        </div>
        <ul>
        {% for url in resource.get_grouped_urls.Documentation %}
          <li class="url_link"><a href="{{url.url}}" target="_blank">{{url.url_label}}</a></li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}

      {% if resource.get_grouped_urls.API %}
      <div class="data_block" id="data_api">
        <div class="url_header">
          <div id="resource_icon_Api" class="url_image"></div><div class="url_label">APIs</div>
        </div>
        <ul>
        {% for url in resource.get_grouped_urls.API %}
          <li class="url_link"><a href="{{url.url}}" target="_blank">{{url.url_label}}</a></li>
        {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if resource.get_grouped_urls.Application %}
      <div class="data_block" id="data_application">
        <div class="url_header">
          <div id="resource_icon_Application" class="url_image"></div><div class="url_label">Applications</div>
        </div>
        <ul>
        {% for url in resource.get_grouped_urls.Application %}
          <li class="url_link"><a href="{{url.url}}" target="_blank">{{url.url_label}}</a></li>
        {% endfor %}
        </ul>
      </div>
      {% endif %}

    <div class="clear"></div>
    </div>
  </div>

  <div class="tab_container" id="content_ratings">
    <ul class="tab_header">
      <li class="tab_button"><a href="#ratings-tab">RATINGS/COMMENTS</a></li>
    </ul>
    <div class="tab_body" id="ratings-tab">
      <div id="social_meta">
        <h3 id="avg_rating">Average Rating</h3>
        <div id="detail_rating">
          <input name="star_resource" type="radio" class="star star_resource" disabled="disabled"/>
          <input name="star_resource" type="radio" class="star star_resource" disabled="disabled"/>
          <input name="star_resource" type="radio" class="star star_resource" disabled="disabled"/>
          <input name="star_resource" type="radio" class="star star_resource" disabled="disabled"/>
          <input name="star_resource" type="radio" class="star star_resource" disabled="disabled"/>
          <script type="text/javascript">
            var rating = {{resource.rating.score}};
            if (rating != 0) {
            	$("input:radio.star_resource")[{{resource.rating.score}}-1].checked = 'checked';
            }
          </script>
          <span>{{resource.rating.votes}} Votes</span>
        </div>
      </div>
      <div id="comment_form">
        <div>
          {% if user.is_authenticated %}
          {% get_comment_form for resource as form %}
            <form action="{% comment_form_target %}" method="post">{% csrf_token %}
              <input type="hidden" name="next" value="{{request.get_full_path}}" />
              {% for field in form %}
              {% if field.is_hidden %}
                {{ field }}
              {% else %}
                {% ifequal field.name "rating" %}
                <div id="rate_container">
                  <div id="rate_label">Rate this data  </div><div id="rate">{{ field }}</div>
                 </div>
                {% else %}
                  {% if field.errors %}{{ field.errors }}{% endif %}
                  <div class="comment_field {% if field.errors %} error{% endif %}"
                  {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}
                  {% ifequal field.name "url" %} style="display:none;"{% endifequal %}
                  {% ifequal field.name "name" %} style="display:none;"{% endifequal %}
                  {% ifequal field.name "email" %} style="display:none;"{% endifequal %}>
                  {{ field }}
                  </div>
                {% endifequal %}
              {% endif %}
              {% endfor %}
              <div class="clear"></div>
              <div class="submit">
                <input type="submit" name="post" class="button" value="Post" />
              </div>
            </form>
          {% else %}
            <div>Please login to add comments</div>
          {% endif %}
        </div>
      </div>
      <div id="comment_list">
        <div id="comment_header">Comments</div>

        {% get_comment_list for resource as comment_list %}
        {% for comment in comment_list %}
          <div class="comment_item">
            <div class="comment_head">
              <div class="comment_rating">
                <input name="star_{{comment.id}}" type="radio" class="star star_{{comment.id}}" disabled="disabled"/>
                <input name="star_{{comment.id}}" type="radio" class="star star_{{comment.id}}" disabled="disabled"/>
                <input name="star_{{comment.id}}" type="radio" class="star star_{{comment.id}}" disabled="disabled"/>
                <input name="star_{{comment.id}}" type="radio" class="star star_{{comment.id}}" disabled="disabled"/>
                <input name="star_{{comment.id}}" type="radio" class="star star_{{comment.id}}" disabled="disabled"/>
                <script type="text/javascript">
                  var rating = {{comment.rating}};
                  if (rating != 0) {
                  	$("input:radio.star_{{comment.id}}")[{{comment.rating}}-1].checked = 'checked';
                  }
                </script>
              </div>
              <div class="comment_user">{{ comment.user.username }}</div>
              <div class="comment_date">{{ comment.submit_date|date:"m/d/Y"}}</div>
            </div>
            <div class="comment_body">
              {{ comment.comment }}
              </div>
              <div class="clear"></div>
          </div>
        {% empty %}
          <div class="comment_item">No comments yet!</div>
        {% endfor %}


      </div>
    </div>
  </div>
{% endblock %}
