{% extends "template_home.html" %}

{% block title %} - Connecting People With Data{% endblock %}

{% block js_ready %}
	<script>
		$(document).ready(function () {
			odp.getTags();
			odp.setupSearchInput();
		});
	</script>
{% endblock %}

{% block center_container %}
  <a class="resource" id="home_idea" href="{{SITE_ROOT}}/idea/{{idea.id}}" style="background: #F5F5F5 url({{SITE_ROOT}}/media/{{idea.get_home_page_image.image|default:'/static/images/detail_no_image.gif'}}) center no-repeat;"></a>

  <div id="home_idea_label">
    <a href="{{SITE_ROOT}}{{idea.get_absolute_url}}">{{idea.title}}</a> by {{idea.author}}
  </div>
  <a id="home_idea_callout" href="{{SITE_ROOT}}/ideas/">Need Inspiration? Visit the Idea Gallery</a>

  <div id="home_twitter">
    <a class="twitter-timeline"  href="https://twitter.com/opendataphilly" data-widget-id="258664344257167360">Tweets by @opendataphilly</a>
    <script>
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>
  </div>

  <div id="home_additions">
  <a href="{{SITE_ROOT}}/opendata/submit/" id="button_submission">Got data? Make a submission</a>
    <h2 class="grid">Recent Additions</h2>
    <ul id="home_additions_list">
      {% for resource in recent %}
    		<li>
    		  <p class="date">{{resource.created|date:"l, F d, Y"}}</p>
    		  <a href="{{SITE_ROOT}}{{resource.get_absolute_url}}" class="data">{{resource}}</a>
    		  <div class="home_rating">
    		  	<input name="star_r_{{resource.id}}" type="radio" class="star star_r_{{resource.id}}" disabled="disabled"/>
    			  <input name="star_r_{{resource.id}}" type="radio" class="star star_r_{{resource.id}}" disabled="disabled"/>
    			  <input name="star_r_{{resource.id}}" type="radio" class="star star_r_{{resource.id}}" disabled="disabled"/>
    			  <input name="star_r_{{resource.id}}" type="radio" class="star star_r_{{resource.id}}" disabled="disabled"/>
    			  <input name="star_r_{{resource.id}}" type="radio" class="star star_r_{{resource.id}}" disabled="disabled"/>
    			  <script type="text/javascript">
    				  var rating = {{resource.rating.score}};
    				  if (rating != 0) {
    					 $("input:radio.star_r_{{resource.id}}")[{{resource.rating.score}}-1].checked = 'checked';
    				  }
    			  </script>
    		  </div>
    		</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}