	<div id="left_container">

		<a href="/" id="logo"><img src="/static/images/logo.png"/></a>

		<div id="tags">
      <h2 class="grid">Data</h2>
      <ul>
				<li id="tag_list"></li>
        <li class="separator"></li>
				<li class="icon-xsm" id="sidebar_ideas"><a href="">Idea Gallery</a></li>
				<li class="icon-xsm" id="sidebar_suggest"><a href="">Suggest / Submit Data</a></li>
			</ul>
		</div>

		<div id="about">
      <h2 class="grid">About</h2>
      <ul>
				<li><a href="/about/">About</a></li>
				<li><a href="/faq/">FAQ</a></li>
				<li><a href="/contact/">Contact</a></li>
				<li><a href="/terms/">Terms</a></li>
			</ul>
		</div>

	</div>