{% extends "base.html" %}

{% block js_ready %}
	<script>
		$(document).ready(function () {
			odp.getTags();
			odp.setupSearchInput();
		});
	</script>
{% endblock %}

{% block content %}

{% include "sidebar.html" %}

	<div id="center_container" class="home">
  
      <div id="account">
				<div id="account_text" class="small_dark"></div>
				{% if user.is_authenticated %}
					<div id="account_button" class="button"><a href="/accounts/logout/?next=/">Logout</a></div>
				{% else %}
          <a href="">Register</a> or
					<a href="/accounts/login/?next={{ request.get_full_path }}">Login</a>
				{% endif %}
			</div>
  
  
  
    <h1>Connecting <strong>people</strong> with <strong>data</strong></h1>
    <h2>
    Throughout the Philadelphia region, a multitude of organizations have assembled data. Find it here and start transforming your city.
    </h2>
  
		<div id="center_header">
			<div id="search">
				<form method="GET" id="search_form" >
					<div id="search_qs">
						<input type="text" id="qs" value="Search for data" />
					</div>
				</form>
				<div id="search_img"><img src="/static/images/glass.png"/></div>
			</div>
		</div>
		<div id="center_content">
			{% block center_container %}
			{% endblock %}
		</div>

	</div>

	<div id="footer">
		<div id="footer_logo"><img src="/static/images/logo_azavea.png" /></div>
		<div id="footer_copyright">Copyright 2011 &#169; OpenDataPhilly <br> All Rights Reserved. Terms of Use.</div>
	</div>

{% endblock %}