{% extends "base.html" %}

{% block js_ready %}
	<script>
		$(document).ready(function () {
			odp.getTags();
			odp.setupSearchInput();
		});
	</script>
{% endblock %}

{% block content %}

{% include "sidebar.html" %}

	<div id="center_container" class="home">
{% include "loginlogout.html" %}

    <h1>Connecting <strong>people</strong> with <strong>data</strong></h1>
    <h2>
		Data on the Philadelphia region is plentiful. Search and find that data on
		OpenDataPhilly and begin transforming your city.
    </h2>

    {% include "searchbar.html" %}

    <div id="center_content">
			{% block center_container %}
			{% endblock %}
		</div>

	</div>

  {% include "footer.html" %}

{% endblock %}