{% extends "base.html" %}

{% block js_ready %}
	<script>
		$(document).ready(function () {
			odp.getTags();
			odp.setupSearchInput();
		});
	</script>
{% endblock %}

{% block content %}

{% include "sidebar.html" %}
{% include "loginlogout.html" %}   
	<div id="center_container"> 
    {% include "searchbar.html" %}
		<div id="center_content">
			{% block center_container %}
			{% endblock %}
		</div>

	</div>

	<div id="footer">
		<div id="footer_logo"><img src="/static/images/logo_azavea.png" /></div>
		<div id="footer_copyright">Copyright 2011 &#169; OpenDataPhilly <br> All Rights Reserved. Terms of Use.</div>
	</div>

{% endblock %}